.nav{
	@apply  mx-auto w-[95%] mb-10 py-2;
	background: rgba(20, 20, 20, 0.4);
	backdrop-filter: blur(10px);	
	border-radius: 15px;	
	border: 1px solid rgba(43, 43, 43, 0.568);
	box-shadow: 0 0 0 8px hsl(0deg 0% 100% / 5%);
	-webkit-box-shadow: 0 0 0 8px hsl(0deg 0% 100% / 10%);
	>ul{
		@apply flex items-center justify-evenly  w-full ;
		>li{
			@apply inline-block;

			>a{
			  @apply block px-5 py-2 text-lg transition-colors relative text-white text-opacity-70 hover:text-opacity-100;	

				&::before{
					@apply absolute w-full h-0.5 bg-transparent transition-colors left-0 bottom-0 rounded-md;
					content: '';
				}
		
			}
			&.active{				
					>a{
						@apply text-opacity-100; 
						&::before{
							 @apply bg-primary;
						}
					}
				
			}
		}
	}
}