.menu{
   @apply mb-14 animate-fade;

	&__title{
	   @apply text-gray-500 uppercase text-sm font-semibold pl-layout mb-5;	  
	}
	
	&__list{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
    >li{
			 @apply px-8 border-r-4 border-r-transparent transition-colors;
			 width: 90%;
			 >a{
				 @apply flex items-center gap-4 text-gray-600 px-3 cursor-pointer;
				 >span{
					  @apply text-lg hover:text-white transition-all;
				 }
				 >svg{
					@apply text-2lg;

				 }

			 }

			 &.active{
				   @apply border-r-primary;
					 >a{
						>span{
							@apply text-white;
						}
						>svg{
							@apply fill-primary;
						}
					 }
			 }
		}
	}
   
}