@import '../../../styles/variables';

$shadow: 0 10px 10px 0 rgb(0 0 0 / 15%), 0 6px 6px 0 rgb(0 0 0 / 15%),
	0 3px 3px 0 rgb(0 0 0 / 15%);

.collections{
	 @apply flex flex-wrap gap-5 justify-center;
}

.item{
	@apply  animate-fade relative block overflow-hidden;
	width: 31%;
	.behind {
		@apply absolute overflow-hidden z-0 transition-transform;
		&.second {
			@apply opacity-60 -top-1.5 left-2.5 right-2.5 bottom-4;
		}
		&.third {
			@apply opacity-40 -top-3 left-5 right-5 bottom-8;
		}
	}
	&:hover{
		>img{
			@apply scale-110;
		}
		.item__title{
			@apply translate-y-0;
		}
		
	}
  @include fade-bg-gradient(0deg);
	&::before {
		@apply rounded-layout;
	}
	>img{
		@apply rounded-image  overflow-hidden  image-like-bg transition-transform;
		box-shadow: $shadow;	
	}
	.content{
		@apply absolute overflow-y-hidden z-1  bottom-10 w-full left-0 text-center;
	}

	&__title{
		 @apply text-white translate-y-10 transition-transform font-semibold text-xl text-shadow stroke-black;
	}


}