@import '../../../styles/variables';
 
.descr{
	 color: #fff;
	 height:max-content;
	 width: 100%;
	 font-size: 1.2rem;
	 opacity: .7;
	 line-height: 1.1;
	 font-weight: 400;	
	 transition: all .5s ease;
  &.showtext {
		overflow: hidden;
		position: relative;	
		height:100px;
		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			bottom: 0px;
			left: 0;
			right: 0;
			height: 120px;
			pointer-events: none;
			background: linear-gradient(
				to bottom,
				rgba(34, 34, 34, 0) 0%,
				#151b23 100%
			);
		}
	}

}
.show{
	@apply cursor-pointer w-full p-3 rounded-lg text-center bg-gray-800 text-white text-xl text-opacity-70 z-2 bg-opacity-70 relative;
}



