@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;900&display=swap');


:root{
	 --primary-color:#E30B13;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::after,
*::before {
	padding: 0;
	margin: 0;
	
}

body {
	font-family: 'Outfit', sans-serif !important;
	@apply bg-gray-900;
	color: #fff;
	
}

input[type='file'],
input[type='file']::-webkit-file-upload-button{
	  @apply cursor-pointer focus:outline-none;
}

input:focus{
	box-shadow: none !important;
}

button{
	cursor:pointer;
	display:block;
	
}

.slide-animation-enter {
  opacity: 0;
	transform:scale(0.9)
}
.slide-animation-enter-active {
  opacity: 1;
	transform:scale(1);
  transition: opacity 300ms,transform 300ms;
}
.slide-animation-exit {
  opacity: 1;
}
.slide-animation-exit-active {
  opacity: 0;
	transform:scale(0.9);
	transition: opacity 300ms,transform 300ms;
} 
.swiper{
	 @apply flex items-center gap-5;
	 
}

.swiper-slide{
	@apply max-w-[200px] w-full gap-5 mx-2 transition-transform hover:-translate-y-3.5;
	
}